<div class="description">
<h1>About</h1>

<h4>Share your ideas with the world and find others.</h4>

<p>
Once you are familiar with Ruby, you can now begin to learn Rails! Many new developers are asking the point of learning Ruby on Rails if there are other frameworks. The answer is simply that this web application framework can be an ideal solution for startups because of its numerous functions that come out of the box and its speed of deployment and scalability. Let’s look at what educational tools can assist you in learning Ruby on Rails online and the books you need to study to learn the essentials of RoR.
<p>

<h5>Be an excellent Rubyist</h5>
<p>
It is important not to underestimate the importance of the books you read when studying programming. Despite the rapid growth of technology and programming, the best programming books remain current and are regularly updated with the release of new versions and updates. 
</div>
